* {
	font-family: 'Arial';
}
body {
	min-height:calc(100vh - 20px);
	background:radial-gradient(white,lightblue);
	color:darkblue;
/* #aec7fa	*/
}
input {
	padding:10px;
	background:white;
	border-radius:10px;
	box-shadow:2px 2px 5px rgba(0,0,0,.3);
	
}
h1 {
	font-size:30px;
	margin:50px 0;
}
img {
	width:200px!important;
	margin-top:150px;
}
.container {
	text-align:center;
}
.btn {
	display: inline-block;
	padding:10px 20px;
	border-radius:25px;
	background:blue;
	color:white;
	width:200px!important;
	margin:20px 0;
	text-decoration:none;
	border:none;
	box-shadow:2px 2px 5px rgba(0,0,0,.3);
	cursor:pointer;
}
.green {
	background:green;
}